.addItemFormContainer {
    padding: 1em;
    display: grid;
    margin: 1em 0;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
}

.inputColumn {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    grid-column: span 6;
    width: 90%;
}

#itemPreview {
    grid-column: span 2;
}
