.shopContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.itemContainer {
    grid-column: span 8;
    width: 100%;
    height: 400px;
    padding: 1em;
    background-color: var(--secondary-text-color);
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.itemContainer img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 2px;
}
/* .buttonContainer {
    grid-column: span 8;
} */

.itemContainer {
    overflow: hidden;
    max-height: 350px;
    position: relative;
    transition: transform 0.3s;
}

.itemContent {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 0.5em;
    transition: transform 0.3s;
    background-color: var(--secondary-text-color);
    height: 100%;
    overflow-wrap: break-word;
    gap: 0.2em;
    transition: transform 0.3s;
}

/* TODO: CLEAN UP THIS CODE!! */
.itemContainer:hover .itemContent {
    transform: translateY(calc(-98% + 90px));
    cursor: pointer;
    transition: transform 0.3s;
}

.itemContainer:hover {
    background-color: #f5f6fa;
    transition: transform 0.3s;
}
.itemContent .description {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    transition: transform 0.3s;
}

.itemContainer:hover .itemContent .description {
    display: block;
    opacity: 1;
    transition: transform 0.3s;
}

.itemContent .buttons {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    transition: transform 0.3s;
    margin-left: 0.5em;
}

.itemContainer:hover .itemContent .buttons {
    display: flex;
    opacity: 1;
    transition: transform 0.3s;
}

.buttonContainer button {
    margin-left: 0.5em;
}

/* Small tablets styles */
@media screen and (min-width: 620px) {
    .itemContainer {
        grid-column: span 4;
    }
}

/* Large tablets and laptop styles */
@media screen and (min-width: 1200px) {
    .itemContainer {
        grid-column: span 4;
    }
}

/* Desktop styles */
@media screen and (min-width: 1400px) {
    .itemContainer {
        grid-column: span 2;
    }
}
