/* - Reset - */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-text-color);
    margin: 0 auto;
}

body,
p,
a,
ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
}

/* Colors / Shadows etc */
:root {
    --color-background: #74a1db;
    --primary-text-color: #383938;
    --secondary-text-color: #f2f4ff;
    --accent-color: #f97068;
    --hover-color: #3e3f45;
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

.primaryButton {
    background-color: var(--color-background);
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
}

.primaryButton:hover,
.primaryButton:focus {
    background-color: #9ab5da;
}
