/* - Reset - */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-text-color);
    margin: 0 auto;
}

body,
p,
a,
ul,
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
}

/* Colors / Shadows etc */
:root {
    --color-background: #74a1db;
    --primary-text-color: #383938;
    --secondary-text-color: #f2f4ff;
    --accent-color: #f97068;
    --hover-color: #3e3f45;
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
